@import url("https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {
  padding-top: 20px;
  padding-bottom: 20px;
}

.slick-dots li.slick-active button:before {
  color: rgb(17, 255, 17) !important;
}

.slick-dots li button:before {
  font-size: 20px;
}

.sidebar-cont .sidebar {
  height: 100vh;
  background-color: aqua !important;
}

.masonry {
  column-count: 2; /* Adjust the number of columns */
  column-gap: 1rem; /* Adjust the gap between the columns */
}

.masonry-item {
  break-inside: avoid; /* Prevent items from being split across columns */
  margin-bottom: 1rem; /* Adjust the gap between the rows */
}
