@import url("https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {
  padding-top: 20px;
  padding-bottom: 20px;
}

.slick-dots li.slick-active button:before {
  color: rgb(17, 255, 17) !important;
}

.slick-dots li button:before {
  font-size: 20px;
}

.sidebar-cont .sidebar {
  height: 100vh;
  background-color: aqua !important;
}

.masonry {
  display: block;
  column-count: 2;
}

@media only screen and (min-width: 1441px) {
  .masonry {
    display: block;
    column-count: 3;
  }
}

@media only screen and (min-width: 2051px) {
  .masonry {
    display: block;
    column-count: 5;
  }
}

.masonry-2 {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

  gap: 1rem;
}

.masonry-item {
  break-inside: avoid;
  margin-bottom: 1rem;
  overflow: hidden;
}
